* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

/*
Center the login panel 
*/
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/*
The login panel vertical and horizontal in the middle
*/
.login-container {
  width: 350px;
  height: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 7%;
}

.pic-holder-container {
  /* Overflow hidden, because we want to hid the arm in the default setting*/
  overflow: hidden;
  background-color: white;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;

  background-image: url("../img/monkey_pwd.gif");
  background-size: 90% 85%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  /*
  In order to keep the hand image in the center
  */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pic-holder-container img {
  margin-top: 110%;
  height: 200px;
  width: 200px;
  transition: 1.5s ease-in-out;
}

.form-container {
  margin-top: 50px;
}

.form-container input {
  padding-left: 15px;
  margin-top: 0.7rem;
  width: 100%;
  height: 2rem;
  border-radius: 20px;
  color: #303030;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-indent: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
}

.form-container label {
  padding-left: 15px;
  font-size: 1.2rem;
  color: 303030;
}

.sbutton {
  text-indent: 0px;
  height: 2rem;

  margin-top: 10px;
  background-color: #fbab7e;
  transition: "2s";
  border: none;
  color: 303030;
  font-weight: bolder;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 2rem;
}

.sbutton:hover {
  color: #5a5449;
  cursor: pointer;
}
